robotframework==7.1.1
robotframework-datadriver==1.11.2
robotframework-reportportal~=5.6.1
robotframework-seleniumlibrary==6.6.1
robotframework-browser==18.8.1
robotframework-pabot==2.18.0
selenium>=4.25.0
PyYAML
